@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Brave School</h1>
    <p>Proyecto en .NET 6 con Arquitectura de Microservicios</p>
    <p>
        Para más información visita la <a href="https://bravedeveloper.com">BraveDeveloper.com</a>.
    </p>

    <hr />

    <div>
        <h3>Hola <b>@User.Identity.Name</b>, que bueno tenerte aquí de nuevo!</h3>
    </div>
</div>
